@import "tailwindcss";

:root {
  --background: rgba(29, 29, 31, 1);
  --foreground: rgba(245, 245, 247, 1);
  --background-lg: linear-gradient(
    247.38deg,
    rgba(230, 165, 0, 0) 47.02%,
    rgba(230, 165, 0, 0.5) 100%
  );
}


@theme inline {
  --font-inria-sans: var(--font-inria-sans), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}




/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */